{% extends 'base.html' %}
{% load static %}
{% block title %}
    Products List
{% endblock %}
{% block content %}
    {% for category in categorise %}
        <a class="btn btn-primary" href="{% url 'products:category_filter' category.slug %}">{{ category.name }}</a>
    {% endfor %}<br><br>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4" style="width: 18rem; display: inline-block">
                <div class="card product-card">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <p>Price: {{ product.price }}$</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
