{% extends 'base.html' %}
{% load static %}
{% block title %}
    Products List
{% endblock %}
{% block content %}
    {% for category in categorise %}
        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-danger">{{ category.name }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for sub in category.scategory.all %}
                    <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                {% endfor %}


            </ul>
        </div>
    {% endfor %}<br><br>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4" style="width: 18rem; display: inline-block">
                <div class="card product-card">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                        <p class="card-text">{{ product.description|truncatechars:100|safe }}</p>
                        <p>Price: {{ product.price }}$</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
